rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function ownsUserData(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/workouts/{workoutDate} {
      allow get, list, create, update, delete: if ownsUserData(userId);
    }

    match /users/{userId}/customExercises/{exerciseId} {
      allow get, list, create, update, delete: if ownsUserData(userId);
    }

    match /users/{userId}/settings/default {
      allow get, create, update, delete: if ownsUserData(userId);
    }

    match /users/{userId}/bodyWeightMeasurements/{measurementId} {
      allow get, list, create, update, delete: if ownsUserData(userId);
    }
  }
}
